.SelectTrigger {
  display: flex;
  width: 100px;
  height: 30px;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px 0 16px;
  border: 1px solid #ffffff0d;
  border-radius: 6px;
  background: #0003;
  box-shadow: none;
  color: #fff;
  cursor: default;
  font-size: 13px;
  font-weight: 400;
  outline: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
}
.SelectTrigger:hover {
  border: 1px solid #ffffff36;
}
.SelectTrigger:focus {
  box-shadow: 0 0 0 2px black;
}
.SelectTrigger[data-placeholder] {
  color: var(--violet-9);
}

.SelectContent {
  overflow: hidden;
  background: rgb(31, 31, 31);
  border-radius: 6px;
  width: 100px;
  font-size: 12px;
  padding: 5px;
}

.SelectItem {
  font-size: 13px;
  line-height: 1;
  color: white;
  border-radius: 3px;
  display: flex;
  align-items: center;
  height: 25px;
  padding: 0 16px 0 16px;
  position: relative;
  user-select: none;
}
.SelectItem[data-highlighted] {
  outline: none;
  background-color: #343434;
}
